<a class="js-lightbox__inner c-card c-card--{{artist.day}}" href="{{ artist.url }}">
    <div class="u-shadow c-card__inner u-radius">
        <div class="c-image-card">
            <figure class="u-image c-image-card__wrapper">
                <img src="{{ artist.image }}" width="640" height="358" />
            </figure>
        </div>
        <div class="c-card__text">
            <h3>{{ artist.name }}</h3>
            <h4 class="u-radius js-filterBtn js-filterBtn--alt">{{ artist.day }}</h4>
        </div>
    </div>
</a>
