<nav id="menu" class="c-nav">
	<section class="c-nav-bg">
		<div class="o-page">
			<div class="o-content">
				<div class="c-nav__wrapper">
					<div class="o-columns o-section-end o-section-start">
						<div class="o-column o-column--12 o-column--M-4 o-column--L-3 o-section-end o-section-start">
							<button class="c-nav-logo" href="index.html">
								<img src="assets/images/raemhenen.svg">                            
							</button>
						</div>
						<div class="o-column o-column--12 o-column--M-8 o-column--L-9 o-section-end o-section-start">
							<ul class="c-nav__list">
								<li class="c-nav__item has-subNav">
									<button href="#" class="c-nav__link">
										<span>Line-up</span>
									</button>
								</li>
								<li class="c-nav__item">
									<button href="#" class="c-nav__link">
										<span>Tickets</span>
									</button>
								</li>
								<li class="c-nav__item">
									<button href="#" class="c-nav__link">
										<span>Info</span>
									</button>
								</li>
								<li class="c-nav__item">
									<button href="#" class="c-nav__link">
										<span>Contact</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</nav>
