<nav id="menu" class="c-nav">
	<section class="o-section-sub">
		<div class="o-page">
			<div class="o-content">
				<div class="c-nav__wrapper">
					<div class="o-columns o-section-end o-section-start">
						<div class="o-column o-column--12 o-column--M-4 o-column--L-3 o-section-end o-section-start">
							<button class="c-nav-logo c-btn c-btn--secondary" href="index.html">
								<h2>Solid<span class="u-primary">.</span></h2>
							</button>
						</div>
						<div class="o-column o-column--12 o-column--M-8 o-column--L-9 o-section-end o-section-start">
							<ul class="c-nav__list">
								<li class="c-nav__item">
									<a href="#" class="c-nav__link c-btn c-btn--primary">
										<span>About</span>
									</a>
								</li>
								<li class="c-nav__item">
									<a href="#" class="c-nav__link c-btn c-btn--primary">
										<span>Work</span>
									</a>
	                            </li>
								<li class="c-nav__item">
									<a href="#" class="c-nav__link c-btn c-btn--primary">
										<span>Contact</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</nav>
<a href="#menu" (click)="toggle($event)" class="c-nav-toggle">
	<span class="u-accessibility">Navigation</span>
</a>
