<section class="u-quartary-bg u-mod o-segment-main">
    <main class="o-page">
        <div class="o-content">
            <h2 class="u-light u-center">Partners</h2>
            <div class="o-columns">
                <ul class="u-list c-partners" ng-app="Partners" ng-controller="partnersController">
                    <li class="o-column o-column--6 o-column--M-2" *ngFor="let partner of partners">
                        <a href="#">
                            <figure class="u-image">
                                <img src="{{ partner.image }}" alt="{{ partner.name }}">
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</section>
