.c-partners{
    li {
        a {

            img {
                transition: $hoverTransition;
                opacity: 0.75;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }
}
