.c-project {
    position: relative;
    .c-project__label {
        padding: 0.5em 0.75em;
        color: #fafafa;
        background-color: $primary-color;
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 3;
        box-shadow: $hoverShadow;
        border-radius: 2px;
    }

}


.c-card-title {
    margin-top: $paragraph-margin;
}
.c-card, .c-card:visited {
    position: relative;
    .c-card__inner {
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        padding: calc( #{$colSpacing} / 2 );
    }
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $text-color;
        h3 {
            color: #ffffff !important;
        }
        .c-image-card {
            &:before {
                top: 100%;
                height: 60px;
            }
        }
    }
    .c-image-card {
        margin-left: calc( #{-$colSpacing} / 2 );
        margin-top: calc( #{-$colSpacing} / 2 );
        margin-right: calc( #{-$colSpacing} / 2 );
        border-bottom: 10px solid $primary-color;
        position: relative;
        .c-image-card__wrapper {
            padding-bottom: 56%;
        }
        &:before {
            transition: all 0.3s $hoverTransitionAlt;
            content:"";
            display: block;
            height: 10px;
            top: 100%;
            width: 100%;
            background-color: $primary-color;
            position: absolute;
            bottom: -10px;
            z-index: 1;
        }
    }
    .c-card__text {
        padding: calc( #{$colSpacing} / 2 ) 0;
        padding-bottom: 0;
        h3 {
            transition: all 0.5s $hoverTransitionAlt;
            color: $primary-color;
            margin-bottom: 0;
        }

    }
}
.c-card__description {
    position: absolute;
    color: #ffffff;
}

.js-item {
    transition:$hoverTransition;
    transform-origin: center;

}
.c-card__text {
        transition: $hoverTransition;
        transform: translateY(0);
        z-index: 1;
        position: relative;
}
.js-item.active {
    .c-card__time {
        opacity: 1;
        transform: translateY(3em);
    }
    h3 {
        color: #ffffff;
    }
    .c-card__text {
        transition: $hoverTransition;
        position: relative;
        z-index: 3;
        transform: translateY(-9em);
        @media only screen and (min-width: $mid) {
            transform: translateY(-10em);
        }
        width: 100%;
    }
    .u-shadow{
        transition:$hoverTransition;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .c-image-card:before {
        height: 140.5%;
        top: 0;
    }
    .c-card__description {
        opacity: 1;
    }
    .c-card__close {
        opacity: 1;
        z-index: 5;
        bottom: 0.5em;
    }

    .c-card__info {
        transition: $hoverTransition;
        position: absolute;
        bottom: -2.5em;
        .u-box-shadow--alt {
            -webkit-filter: drop-shadow(  0px 1px 2px rgba(0,0,0,0.5) );
                filter: drop-shadow(  0px 1px 2px rgba(0,0,0,0.5) );
        }
    }
}


.c-card__info {
    position: absolute;
    transition: $hoverTransition;
    z-index: 4;
    display: block;
    right: 1em;
    bottom: 0.5em;
    padding: 0;
    &:after {
        display: none;
    }
    &:focus {
        outline: none;
    }
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
    &:hover {
        box-shadow: none;
        #Rounded {
            path {
                fill: $primary-color;
            }
        }
    }
}

.u-box-shadow {
    -webkit-filter: drop-shadow(  0px 1px 2px rgba(0,0,0,0.5) );
        filter: drop-shadow(  0px 1px 2px rgba(0,0,0,0.5) );
}

#Rounded {
    path {
        transition: fill  0.3s cubic-bezier(.25,.8,.25,1);
        fill: white;
    }
}

.c-project--Hekwerk {
    .c-project__label {
        background-color: #005ac9;
    }
    .c-image-card {
        border-bottom: 10px solid #005ac9;
        &:before {
            background-color: #005ac9;

        }
    }
    .c-card__text {
        h3 {
            color: #005ac9;
        }
    }
}

.c-project--Leiden, .Marketing {
    .c-project__label {
        background-color: #E8212C;
    }
    .c-image-card {
        border-bottom: 10px solid #E8212C;
        &:before {
            background-color: #E8212C;

        }
    }
    .c-card__text {
        h3 {
            color: #E8212C;
        }
    }
}
.c-project--Medilingua {
    .c-project__label {
        background-color: #86DBBC;
    }
    .c-image-card {
        border-bottom: 10px solid #86DBBC;
        &:before {
            background-color: #86DBBC;

        }
    }
    .c-card__text {
        h3 {
            color: #86DBBC;
        }
    }
}
.c-project--TinQwise {
    .c-project__label {
        background-color: #d40000;
    }
    .c-image-card {
        border-bottom: 10px solid #d40000;
        &:before {
            background-color: #d40000;

        }
    }
    .c-card__text {
        h3 {
            color: #d40000;
        }
    }
}

.c-project--Liff {
    .c-project__label {
        background-color: #e62936;
    }
    .c-image-card {
        border-bottom: 10px solid #e62936;
        &:before {
            background-color: #e62936;

        }
    }
    .c-card__text {
        h3 {
            color: #e62936;
        }
    }
}

.c-project--Hooymeijer {
    .c-project__label {
        background-color: #ef4123;
    }
    .c-image-card {
        border-bottom: 10px solid #ef4123;
        &:before {
            background-color: #ef4123;

        }
    }
    .c-card__text {
        h3 {
            color: #ef4123;
        }
    }
}
.c-project--Gemiva {
    .c-project__label {
        background-color: #f15a22;
    }
    .c-image-card {
        border-bottom: 10px solid #f15a22;
        &:before {
            background-color: #f15a22;

        }
    }
    .c-card__text {
        h3 {
            color: #f15a22;
        }
    }
}

.c-project--Wij {
    .c-project__label {
        background-color: #d24327;
    }
    .c-image-card {
        border-bottom: 10px solid #d24327;
        &:before {
            background-color: #d24327;

        }
    }
    .c-card__text {
        h3 {
            color: #d24327;
        }
    }
}
