<section class="o-content o-segment-main">
    <h2 class="u-light u-center o-section-main o-section-start">
    Tickets
    </h2>
    <div class="o-columns">
        <aside class="o-column o-column--12 o-column--M-5">
            <div class="u-light-bg">
                <p>Donec mauris arcu vestibulum ac hendrerit ut convallis cursus libero</p>
                <p>Vivamus gravida justo at augue mattis placerat</p>
                <p>Nulla purus risus interdum non semper ut tincidunt a justo Nulla a urna lorem Aenean tempor luctus sem quis euismod</p>
            </div>
        </aside>
        <main class="o-column o-column--12 u-rel o-column--M-7" >
            <form class="o-columns">
                <fieldset class="o-column o-column--M-12">
                    <label class="o-columns">
                        <span class="o-column o-column--M-6">
                            Ra em Henen festival tickets + camping
                        </span>
                        <select class="o-column o-column--M-3" name="tickets" (change)="onChange($event.target.value)">>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                    </label>
                </fieldset>
                <fieldset class="o-column o-column--M-5">
                    <label class="o-columns">
                        <span class="o-column o-column--M-4">
                            Name
                        </span>
                        <input class="o-column o-column--M-8" type="text"/>
                    </label>
                </fieldset>
                <fieldset class="o-column o-column--M-5">
                    <label class="o-columns">
                        <span class="o-column o-column--M-4">
                        Last name
                        </span>
                        <input class="o-column o-column--M-8" type="text"/>
                    </label>
                </fieldset>
                <fieldset class="o-column o-column--M-5">
                    <label class="o-columns">
                        <span class="o-column o-column--M-4">
                            Date of birth
                        </span>
                        <input class="o-column o-column--M-8" type="date"/>
                    </label>
                </fieldset>
                <fieldset class="o-column o-column--M-5">
                    <label class="o-columns">
                        <span class="o-column o-column--M-4">
                            E-mail
                        </span>
                        <input class="o-column o-column--M-8" type="email"/>
                    </label>
                </fieldset>
            </form>
        </main>
    </div>
</section>
