// Utilities - Mostly consists of 1 trick ponies

.u-accessibility, .js .js-accessibility {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.u-accessibility:focus, .u-accessibility:active {
    clip: auto;
    height: auto;
    overflow: visible;
    position: fixed;
    width: auto;
}
.u-hidden {
    overflow-x:  hidden;
}
.u-light {
    color: #ffffff;
}
.u-primary {
    color: $primary-color;
}
.u-secondary {
    color: $secondary-color;
}
.u-quiet-bg {
    background-color: $quiet-color;
}
.u-primary-bg {
    background-color: $primary-color;
}
.u-secondary-bg {
    background-color: $secondary-color;
}
.u-tertiary-bg {
    background-color: $tertiary-color;
}
.u-quartary-bg {
    background-color: $quartary-color;
}
.u-shadow {
    box-shadow: $basicShadow;
}

.u-radius {
    border-radius: 4px;
    overflow: hidden;
}

.u-circle {
    overflow: hidden;
    border-radius: 100%;
}

.u-block {
    display: block;
}

.u-accent {
    font-size: 1.25rem;
}

.u-rel {
    position: relative;
}

.u-list {
    padding:0;
    margin: 0;
    list-style: none;
}

.u-video {
    background-color: #000;
    display: block;
    padding-bottom: 56.25%;
    position: relative;
}

.u-image {
    margin: 0;
    background-color: transparent;
    display: block;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

 .u-image--66 {
     padding-bottom: 66.79%;
 }

.u-video iframe, .u-video object, .u-video embed, .u-image img {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.u-readable {
    max-width: 50em;
}

.u-mod {
    margin-left: -$page-margin;
    margin-right: -$page-margin;
}

.u-left {
    text-align: left;
}
.u-center {
    text-align: center;
}

.u-right {
    text-align: right;
}
